@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Poppins-Regular";
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-BoldItalic";
  src: url("/fonts/Poppins-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Italic";
  src: url("/fonts/Poppins-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("/fonts/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraBoldItalic";
  src: url("/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
}

.bold {
  font-family: "Poppins-Bold";  
}

.extrabold {
  font-family: "Poppins-ExtraBold"; 
}

.italic {
  font-family: "Poppins-Italic";
}

.extrabolditalic {
  font-family: "Poppins-ExtraBoldItalic"; 
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
